@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'sans-serif';
  margin: 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;


}



* {
  scrollbar-width: thin;


  scrollbar-color: #4a4a4a #dfdede;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 50%;
  border: 1px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px;
  border-radius: 50%;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 1px;
  border-radius: 50%;

}

::-webkit-scrollbar-thumb:hover {
  background: #929191;
  border-radius: 50%;
  border: 1px;

}



/* .background {

  background: linear-gradient(36deg, #ffff 95%, rgba(255, 108, 10, 0.854) 5%);

} */

.gradient-shadow::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 100px;
  background: linear-gradient(-45deg, #45caff 20%, #ff1b6b 80%);
  filter: blur(30px);
  opacity: 0.6;
  transition: opacity 0.3s;
  border-radius: 50%;
  pointer-events: none;
}

.gradient-shadow::before {
  top: -100px;
  left: 50%;
  transform: translateX(-50%) translate3d(0px, 20px, 0) scale(0.95);
}

.gradient-shadow::after {
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%) translate3d(0px, -20px, 0) scale(0.95);
}

.gradient-shadow:hover::before {
  opacity: 0.8;
}

.gradient-shadow:hover::after {
  opacity: 0.5;
}

body.gradient-shadow {
  position: relative;
}

.gradient-clip {
  background: linear-gradient(90deg, rgb(116, 116, 230), rgb(249, 2, 225), rgb(63, 179, 225));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}